<% provide(:title, "Log In") %>

<% if notice %>
  <p class='notice'>
  <%= notice %>
  </p>
<% end %>

<h1 class="center">Login</h1>

<div class="new_post center-block">
  <%= render 'form' %>
</div>
