<% provide(:title, "Sign Up") %>

<body background=<%= asset_path 'multi_cars.jpg' %>>
<div class="new_post center-block">
<h1 class="center">Sign up here</h1>
<% if @user.errors.any? %>
 <div id="error_explanation">
  <div class="alert alert-danger">
   The form contains <%= pluralize(@user.errors.count, "errors") %>.
  </div>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
 </div>
<% end %> 

<div>
  <%= render 'form' %>
</div>
<br/>
<br/>
</div>
</body>
