<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
<% end %>
      <ul>
        <li><p class="driver" style="color:#00FF00;font-size:30px;display:inline;margin-left:30px;"><%= link_to "Drivers", drivers_url %></p></li>
        <li><p class="hitcher" style="font-size:30px;display:inline;margin-left:30px;"><%= link_to "Hitchers", hitchers_url %></p></li>
      </ul>
