<h1 class="title" style="color:blue;text-align:center;">Welcome To GoDa!!</h1>

<p class="driver" style="color:#00FF00;font-size:30px;display:inline;margin-left:400px;"><%= link_to "Drivers", drivers_url %></p> 
<p class="hitcher" style="font-size:30px;display:inline;margin-left:200px;"><%= link_to "Hitchers", hitchers_url %></p>
