<!-- <h1>BookNotifier#hitcherbooked</h1>

<p>
  <%= @greeting %>, find me in app/views/book_notifier/hitcherbooked.html.erb
</p> -->

<!-- Dear <%= @user.name %>,


You driver post has been booked.

<%= render @ride.driver %>
 -->

